Source: dylandotnet
Section: cli-mono
Priority: optional
Maintainer: Dylan Borg <borgdylan@hotmail.com>
Build-Depends: debhelper (>= 7.0.50~), cli-common-dev (>= 0.7), devscripts, libmono-corlib2.0-cil, libmono-system2.0-cil, mono-devel, mono-runtime, gawk, autotools-dev, monodoc-base
Standards-Version: 3.9.2
Homepage: http://launchpad.net/dylandotnet
Vcs-Git: git://gitorious.org/dylandotnet/dylandotnet.git
Vcs-Bzr: lp:dylandotnet
Vcs-Browser: http://bazaar.launchpad.net/~borgdylan/dylandotnet/dylandotnet/files

Package: dylandotnet-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: mono-utils
Enhances: dylandotnet, dylandotnet4
Description: This is the dylan.NET documentation.
 This is the dylan.NET documentation amd some test programs in tar.gz format.

Package: dylandotnet
Section: cli-mono
Architecture: all
Depends: ${misc:Depends}, ${cli:Depends}, libmono-corlib2.0-cil, libmono-system2.0-cil, mono-devel, cli-common, mono-runtime
Recommends: mono-utils, monodoc-base,  dylandotnet-doc
Description: This is the dylan.NET compiler for CLI 2.0.
 This is another compiler for the Mono runtime targeting dylan.NET.
 
Package: dylandotnet4
Section: cli-mono
Architecture: all
Depends: ${misc:Depends}, libmono-corlib4.0-cil (>= 2.10.1), libmono-system4.0-cil (>= 2.10.1), libmono-system-xml-linq4.0-cil (>= 2.10.1), mono-devel (>= 2.10.1) , cli-common, mono-runtime (>= 2.10.1)
Recommends: mono-utils, monodoc-base, dylandotnet-doc
Description: This is the dylan.NET compiler for CLI 4.0.
 This is another compiler for the Mono runtime targeting dylan.NET.
