Source: dylandotnet-ide
Section: devel
Priority: optional
Maintainer: Dylan Borg <borgdylan@hotmail.com>
Build-Depends: debhelper (>= 7.0.50~), cli-common-dev (>= 0.8~), devscripts, libmono-corlib4.0-cil (>= 2.10.1), libmono-system4.0-cil (>= 2.10.1), mono-devel (>= 2.10.1), mono-runtime (>= 2.10.1), gawk, autotools-dev, dylandotnet4 (>= 11.2.8.4), dylandotnet-dev, libdylandotnet-collections4.0-cil (>= 11.2.8.5), gtk-sharp2, libmono-cil-dev (>= 2.10.1)
Standards-Version: 3.9.2
Homepage: http://launchpad.net/dylandotnet
Vcs-Git: git://gitorious.org/dylandotnet/dylandotnet.git
Vcs-Bzr: lp:dylandotnet
Vcs-Browser: http://bazaar.launchpad.net/~borgdylan/dylandotnet/dylandotnet/files

Package: dylandotnet-ide
Architecture: all
Depends: ${misc:Depends}, ${cli:Depends}, cli-common, mono-devel (>= 2.10.1), mono-runtime (>= 2.10.1), libmono-corlib4.0-cil (>= 2.10.1), libmono-system4.0-cil (>= 2.10.1), libmono-system-xml-linq4.0-cil (>= 2.10.1), gtk-sharp2
Enhances: dylandotnet4
Recommends: dylandotnet, dylandotnet4, dylandotnet-dev
Description: This is the dylan.NET IDE.
 This is the dylan.NET IDE which runs on CLI 4.0.

